* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#container {
    border: 20px solid #5095ff;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
}

#newServerForm {
    display: none;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    top: 20px;
    right: 20px;
    width: 100%;
    height: 93.5%;
    display: none;
    max-width: 325px;
    margin: 0 auto;
    padding: 40px;
    border-left: solid 1px #007bff;
    overflow-x: hidden;
    background-color: white;
}

/* Heading Styling */
h2 {
    color: #333;
    font-size: 12px;
}

/* Input Fields Styling */
#newServerForm input,
#newappform input,
#newappform textarea,
#newServerForm select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px;
}

#newServerForm select {
    display: none;
}

#newServerForm #url {
    width: 78%;
}

/* Button Styling */
#newServerForm button,
#newappform button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #007bff;
    font-weight: bold;
    border: solid 2px #007bff;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-size: 10px;
    transition: background-color color 0.3s ease;
}

#newServerForm #cancel {
    color: red;
    border: solid 2px red;
}

#newServerForm button:hover,
#newappform button:hover {
    background-color: #0056b3;
    color: white;
}

#newServerForm #cancel:hover {
    background-color: red;
    color: white;
}

#newappform #urlexitbutton {
    color: red;
    border-color: red;
    background-color: white;
}

#newappform #urlexitbutton:hover {
    color: white;
    background-color: red;
}

/* URL List Styling */
#newServerForm #urlList {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

#newServerForm #urlList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}

#newServerForm #urlList li:last-child {
    border-bottom: none;
}

/* Remove Inline Styles */
#newServerForm span {
    font-weight: bold;
    display: block;
    margin: 10px;
}

#newServerForm select {
    width: 69%;
}

/* Browser and Server menu Styles */
#browser,
#serverMenu,
#newappform {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100%;
    height: 93.5%;
    max-width: 325px;
    padding: 40px;
    border-left: solid #0056b3 1px;
    background-color: white;
    overflow-x: hidden;
}

#browser {
    gap: 5px;
}

#browser #content {
    height: 100px;
    font-size: 10px;
    background-color: rgba(241, 236, 236, 0.326);
    padding: 5px;
}

#browser h2 {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#exit {
    width: 100%;
    padding: 5px;
    color: red;
    border: solid 1px red;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color color 0.5s ease;
}

#exit:hover {
    background-color: red;
    color: white;
}

#navigate {
    padding: 10px;
    color: #0056b3;
    border: solid 1px #0056b3;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    font-size: 10px;
    border-radius: 4px;
    transition: background-color color 0.5s ease;
}

#navigate:hover {
    color: white;
    background-color: #0056b3;
}

#serverMenu button {
    width: 100%;
    padding: 10px;
    color: #0056b3;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 10px;
    transition: background-color color 0.3s ease;
}

#serverMenu button:hover {
    background-color: #0056b3;
    color: white;
}

#servername {
    margin-top: 30px;
    font-size: 12px;
}

#menutitle {
    margin-bottom: 30px;
}

#servername {
    margin-bottom: 20px;
}